mj-section(background-color="#ffffff" padding="20px")
    mj-column(width="40%" padding="10px")
        mj-image(padding="0" width="300px" target="_blank" src="https://i.ibb.co/qLtJHMs4/cart-Supveto112024-1.png" href="https://supveto.com/les-ecoles/" alt="carte des 29 écoles Supveto du territoire") 
    mj-column(width="60%" padding="10px")
        mj-text(padding="0px 0px 5px 0px" mj-class="T+2-300 cT+1") Quasi architecto beatae
        mj-text(padding="0" mj-class="T400 cT+0") Dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas. m quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem
        mj-text(padding-bottom="10px" padding-top="0" padding-left="0" padding-right="0" mj-class="T400 cT+0") Sit aspernatur aut odit aut fugit, sed quia consequuntur magni
        mj-button(align="left" padding-left="0" mj-class="bg+11" font-size="16px" font-weight="700" line-height="20px" text-transform="uppercase" target="_blank" href="https://supveto.com/les-ecoles/") Nos écoles
