//- footer
mj-section(background-color="#e0efdc" padding='30px 32px')
    mj-column(width='320px')
        mj-image(width='200px' padding='0' align='center' target='_blank' src='https://i.ibb.co/Jsh5VZ7/let-Emailling-08.jpg' href='https://ecosup-campus.com' alt='Logo Ecosup Campus')/
        //-mj-text(padding-top='10px' padding-bottom="0" padding-left="0" padding-right="0" align='center' mj-class="cT+0 T-1") 17 rue des Ursulines - 59200 #[span(style="text-transform:uppercase") Tourcoing]
        //-mj-text(padding='0' align='center' mj-class="cT+1 T-1") #[a(style='text-decoration:none;color:#595959;font-weight:700;color:#0a4328;' href='tel:0320700606') Tél 03.20.70.06.06]               
        //-mj-text(padding-top="10px" padding-bottom="0" padding-left="0" padding-right="0" align='center' mj-class="cT+0 T-1") #[a(style='text-decoration:none;color:#595959;' href='mailto:contact@supveto.com') contact@supveto.fr]
        mj-text(padding='15px 0 45px 0' align='center' mj-class="cT+2 T+2-700") #[a(style='text-decoration:none;color:#595959;font-weight:700;color:#0a4328;' target="_blank" href='https://supveto.com') www.supveto.com]
        mj-text(padding='0' align='center' mj-class="cT+0 T-2") #[a(style='color:#595959;font-size:10px;font-weight:500' href='{{ mirror}}') Voir la version en ligne]           
        mj-text(padding='0' align='center' mj-class="cT+0 T-2") Pour être sûr(e) de recevoir nos communications, ajoutez #[a(style='text-decoration:none;color:#595959;' href='mailto:contact@supveto.com') contact@supveto.com] dans votre carnet d'adresses.
        mj-text(padding='0' align='center' mj-class="cT+0 T-2") #[a(style='color:#595959;font-size:10px;font-weight:500;' href='{{ unsubscribe }}') Se désinscrire de la liste de diffusion]