//- footer
mj-section(background-color="#e0efdc" padding='0px 32px 30px 32px')
    mj-column
        mj-text(padding='20px 0' align='center') #[a(style='text-decoration:none;font-family:Open Sans,Arial,Helvtica,sans-serif;font-size:25px;line-height:27px;font-weight:800;color:#0a4328;letter-spacing:-1px;text-transform:uppercase;' target="_blank" href='https://supveto.com') www.supveto.com]
        mj-image(width='150px' padding='0' align='center' target='_blank' src='./images/logosupveto.png' href='https://supveto.com' alt='Logo SUPVETO')/