mj-section(mj-class="bg+1" padding="0px")
    mj-column(width="100%")
        mj-image(padding="0" border="none" width="600px" src="https://i.ibb.co/sJ2pB04Y/Sup-Veto-Grand-Partenaire-Benoit2025-1.png" alt="")/
mj-section(background-color="#ffffff" padding="10px 20px")
    mj-column
        mj-text(mj-class="T+3 c-0") Dicta sunt explicabo.
        mj-text(mj-class="T400 cT+0") Nemo enim ipsam voluptatem quia voluptas. m quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. aspernatur aut odit aut fugit, sed quia consequuntur magnis.
        mj-text(mj-class="T400 cT+0") Nemo enim ipsam voluptatem quia voluptas. m quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. aspernatur aut odit aut fugit, sed quia consequuntur magnis.
        mj-text(mj-class="T400 cT+0") Nemo enim ipsam voluptatem quia voluptas. m quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. aspernatur aut odit aut fugit, sed quia consequuntur magnis.
