mj-section(mj-class="bg+1" padding="20px")
    mj-column
        mj-image(align="left" padding="0" border="none" width="150px" src="https://i.ibb.co/j9R6yWzM/Log-Sup-Veto-Blanc-1.png" alt="logo Supveto")
