mj-section(mj-class="bg+1" padding="0")
    mj-column(width="100%")
        mj-image(padding="0" border="none" width="600px" src="https://i.ibb.co/Q3r8JDKs/Benoit-Samon-TVND-1.png" target="_blank" href="https://vimeo.com/1056301313" alt="vidéo présentant le partenariat entre Supveto et les Trophées Vet Nurse Day 2025")/
mj-section(background-color="#ffffff" padding="10px 20px")
    mj-column
        mj-text(mj-class="T+3 cT+1") Supveto : Votre partenaire pour la formation des ASV
        mj-text(mj-class="T400 cT+0") #[span(style="font-weight:700;color:#0a4328;") Supveto] est un réseau d'écoles présentes dans toute la France, avec #[span(style="font-weight:700;color:#0a4328") 29 établissements dédiés à la formation des Auxiliaires de Service Vétérinaire] (ASV). 
        mj-text(mj-class="T400 cT+0") #[span(style="font-weight:700;color:#0a4328") Notre engagement :] offrir une formation de qualité qui allie théorie et pratique, en mettant l'accent sur l'expérience sur le terrain et grâce à l'intervention de professionnels tels que des ASV et des vétérinaires. 
        mj-text(mj-class="T400 cT+0")  #[span(style="font-weight:700;color:#0a4328") Nous formons des ASV compétents], capables d'intervenir de manière efficace et autonome dans les cliniques vétérinaires. En tant que fervents défenseurs du rôle essentiel des ASV, nous avons décidé de #[span(style="font-weight:700;color:#0a4328") nous associer à Dr Patounes] pour  #[span(style="font-weight:700;color:#0a4328") soutenir le Trophée Vet Nurse Day].
        mj-text(mj-class="T400 cT+0") #[span(style="font-weight:700;color:#0a4328") Ce partenariat], fondé sur des valeurs partagées, est une occasion de valoriser le travail des ASV et de montrer tout ce qu'ils apportent au quotidien. Découvrez notre engagement à travers cette vidéo.
        mj-button(align="left" mj-class="bg+11" font-size="16px" font-weight="700" line-height="20px" text-transform="uppercase" target="_blank" href="https://vimeo.com/1056301313") Voir la vidéo
        mj-spacer(height="30px")
