mj-wrapper(background-color="#ffffff" padding="20px")
    mj-section(background-color="#ffffff" padding="0")
        mj-column(width="40%")
            mj-text(padding="0") &nbsp;
        mj-column(width="60%" padding="0 10px")
            mj-text(padding="5px 0" mj-class="T+2-300 cT+1") Le Trophée Vet Nurse Day : une reconnaissance du talent des ASV
    mj-section(background-color="#ffffff" padding="0")
        mj-column(width="40%" padding="0 10px")
            mj-image(padding="0" width="300px" src="https://i.ibb.co/VYq28039/logo-Trophees-1.png"  alt="logo du trophées Vet Nurse Day") 
        mj-column(width="60%" padding="0 10px")
            mj-text(padding="5px 0" mj-class="T400 cT+0") Le #[span(style="color:#0a4328;font-weight:700;") Trophée Vet Nurse Day] est un concours unique, permettant aux ASV de présenter des projets et des idées innovantes au sein de leurs cliniques.
            mj-text(padding="5px 0" mj-class="T400 cT+0") Ce concours a pour but de mettre en avant #[span(style="color:#0a4328;font-weight:700;") leur savoir-faire] et de favoriser #[span(style="color:#0a4328;font-weight:700;") leur développement professionnel]. Il s'agit aussi de #[span(style="font-weight:700;color:#0a4328;") valoriser le métier d'ASV] et de rappeler que cette profession peut encore évoluer et s'enrichir grâce à l'implication et à la #[span(style="font-weight:700;color:#0a4328;") créativité des ASV]. Le Trophée représente ainsi une occasion précieuse de #[span(style="color:#0a4328;font-weight:700;") faire avancer cette profession], année après année. 
            mj-text(padding="5px 0" mj-class="T700 cT+1") Les candidatures pour cette édition sont ouvertes jusqu'au 20 février 2025.
            mj-spacer(height="20px")