mjml
    //- Head
    mj-head
        mj-title Trophée Vet Nurse Day 2025
        mj-font(name='Open Sans' href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap")
        mj-raw.
            <meta name='color-scheme' content='light'/>
            <meta name='supported-color-schemes' content='light'/>
            <meta name="format-detection" content="telephone=no"/>
            <meta name="format-detection" content="date=no"/>
            <meta name="format-detection" content="address=no"/>
            <meta name="format-detection" content="email=no"/>
        mj-attributes
            mj-all(font-family='Open Sans, Arial, Helvetica,sans serif')/
            mj-class(name='T+3' font-family="Open Sans, Arial, Helvetica, sans-serif" font-style="normal" font-size='36px' line-height='36px' font-weight='500')/
            mj-class(name='T+2-700' font-family="Open Sans, Arial, Helvetica, sans-serif" font-style="normal" font-size='24px' line-height='28px' font-weight='700')/
            mj-class(name='T+2-300' font-family="Open Sans, Arial, Helvetica, sans-serif" font-style="normal" font-size='28px' line-height='32px' letter-spacing="-1px" font-weight='300')/
            mj-class(name='T700' font-family="Open Sans, Arial, Helvetica, sans-serif" font-style="normal" font-size='16px' line-height='20px' font-weight='700')/
            mj-class(name='T500' font-family="Open Sans, Arial, Helvetica, sans-serif" font-style="normal" font-size='16px' line-height='20px' font-weight='500')/
            mj-class(name='T400' font-family="Open Sans, Arial, Helvetica, sans-serif" font-style="normal" font-size='16px' line-height='20px' font-weight="400")/
            mj-class(name='T-1' font-family="Open Sans, Arial, Helvetica, sans-serif" font-style="normal" font-size='13px' line-height='17px' font-weight="400")/
            mj-class(name='T-2' font-family="Open Sans, Arial, Helvetica, sans-serif" font-style="normal" font-size='10px' line-height='12px' font-weight="300")/
            //- Black colors text
            mj-class(name="cT+1" color="#0a4328")/
            mj-class(name="cT+0" color="#595959")/
            //- Colors
            mj-class(name="c-0" color="#37A943")/
            mj-class(name="bg-0" background-color="#37A943")/
            mj-class(name="c+11" color="#EA831E")/
            mj-class(name="c+1" color="#098855")/
            mj-class(name="bg+1" background-color="#098855")/
            mj-class(name="bg+11" background-color="#EA831E")/
        mj-breakpoint(width="480px")
    //- Body
    mj-body(background-color='#f0f7ee')
        //- content
        block content
        //- bloc header
        block header
            include ../includes/_header
            mj-section(padding="0")
                mj-column
                    mj-spacer(height="20px")
        //- bloc trophees
        block trophees
            include ../includes/_trophees
            mj-section(padding="0")
                mj-column
                    mj-spacer(height="20px")
        //- bloc ecoles
        block ec002
            include ../includes/_ec002
            mj-section(padding="0")
                mj-column
                    mj-spacer(height="20px")
        //- bloc partenaires Vétérinaire
        block partenaires
            include ../includes/_partenaires
        //- bloc partenaires supveto
        block partenaire01
            include ../includes/_partenaire01
        //- bloc footer
        block footer
            include ../includes/_footer 