extends templates/_layout
block content
    //-
    mj-section(padding="10px")
        mj-column
            //- Brevo
                mj-text(align="center") #[a(style='color:#595959;font-size:10px;font-weight:500;line-height:12px' href='{{ mirror}}') Voir la version en ligne] &nbsp;&nbsp;|&nbsp;&nbsp; #[a(style='color:#626262;font-size:10px;font-weight:500;line-height:12px;' href='{{ unsubscribe }}') Se désinscrire de la liste de diffusion]
            //- MailChimp
            mj-text(align="center") #[a(style='color:#595959;font-size:10px;font-weight:500;line-height:12px' href="*|ARCHIVE|*") Voir la version en ligne] &nbsp;&nbsp;|&nbsp;&nbsp; #[a(style='color:#626262;font-size:10px;font-weight:500;line-height:12px;' href="*|UNSUB|*") Se désinscrire de la liste de diffusion]